.super-mario {
    position: absolute;
    width: 200px;
    left: 260px;
    top: 133px;
    z-index: 2;
  }
  
  .goomba {
    position: absolute;
    width: 100px;
    top: 430px;
    left: 250px;
    z-index: 3;
  }
  
  .baloon {
    position: absolute;
    left: 530px;
    top: 250px;
  }
  
  .speach {
    font-size: 25px;
    top: 290px;
    position: absolute;
    left: 553px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 400px;
    left: 800px;
  }